.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: default;
}
.app__slogan-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    color:azure;
    flex-basis: 50%;
    justify-content: center;
}
.app__slogan-container__slogan {
    color: azure;
    text-shadow: 3px 3px black;
    font-family: Palatino;
    font-style: italic;
}
.app__sidebar-div {
    position:absolute;
    width: 50%;
    height: 100%;
    background-color: rgb(73, 73, 70, 0.9);
}