.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.slogan-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    color:azure;
    flex-basis: 50%;
    justify-content: center;
}
.slogan {
    color: azure;
    text-shadow: 3px 3px black;
    font-family: Palatino;
    font-style: italic;
}

