.guests-card-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 15%;
    background-color: azure;
    padding: 3%;
}
.guests-card-div__children-input {
    width: 25%;
}
.guests-card-div__adult-input {
    width: 25%;
}
@media (max-width: 1000px) {
    .guests-card-div {
        width: 70%;
        text-align: center;
        margin-top: 1%;
    }
}