.navbar {
    font-family: Palatino;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(47, 47, 46);
    color: azure;
    flex-basis: 10%;
}
.navbar__title {
    font-family: Copperplate;
    font-style: italic;
    margin-left: 1%;
    flex-basis: 20%;
    text-align: center;
}
.navbar__contact {
    margin-right: 1%;
}
.navbar__make-reservation {
    margin-right: 5%;
    background-color: burlywood;
    height: fit-content;
    width: 15%;
    text-align: center;
    color: azure;
}
